/*
* Absolute Position: anchors element to the first element (overall box)
*/

.box-set {
  position: relative;
  height: 500px;
  background: black;
}

.box {
  /* Absolute Position */
  position: absolute;
  width: 200px;
  height: 200px;
  background: black;
  border: 2px solid white;
}
      
/* Box rules: percentages define anchors (i.e. position of each box relative to enclosing box) */

.box-1 {
  top: 5%;
  left: 5%;
}

.box-2 {
  top: 5%;
  right: 10px;
}

.box-3 {
  right: 10px;
  bottom: 30px;
}

.box-4 {
  bottom: 30px;
  left:5%
}     

/* Header rules used for home search webpage: */
      h1 {
        text-align: center;
        background-color: rgb(223, 235, 234);
        color: red;
      }
      
      h2 {
        background-color: rgb(25, 236, 236);
        color: black;
      }
      
      h3 {
        color: rgb(19, 21, 173);
      }
      
      img {
        box-shadow: 3px 3px 5px white;
      }
      
      section {
        background-color: #000;
        color: deeppink
      }
      
      p {
        font-size: 15px;
        color: gray;
      }
      
      ul {
        border-style: solid;
        color: gray;
      }
