/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
}

  /* set map, body, and html to 100% of the screen size */
#map,
body,
html {
    height: 100%;
}

/* Homes Legend specific*/
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 24px;
  color: (15, 15, 15);
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: rgb(15, 15, 15);
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 20px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 1;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

/* School Legend specific*/
.legendSchool {
  padding: 6px 4px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 24px;
  color: (15, 15, 15);
}
.legendSchool h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: rgb(15, 15, 15);
}

.legendSchool span {
  position: relative;
  bottom: 3px;
}

.legendSchool i {
  width: 20px;
  height: 18px;
  
  float: left;
  margin: 0 0 0 0;
  opacity: 1;
  text-align: center;
}

.legendSchool i.icon {
  background-size: 18px;
  
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}



