div {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: 80px auto;
}

span {
  flex: 0 1 20%;
  cursor: pointer;
  font-size: 0;
  overflow: hidden;
}

img {
  width: 100%;
  pointer-events: none;
}

h1 {
  position: fixed;
  top: 0;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  font-weight: normal;
  margin: 0;
  transform: translateX(-50%);
  left: 50%;
  line-height: 2;
  padding: 0 20px;
}