.aText {
  font-family: sans-serif;
  font-size: 16px;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #c9c9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #000;
  cursor: pointer;
}

/* font size dependent on radius, see app.js */
.stateText {
  font-family: sans-serif;
  /* fill: #fff; */
  text-anchor: middle;
  color: black;
  font-weight: bold; 
  font-size: 10;
}

.stateCircle {
  fill: #88c1d5;
  stroke: #e3e3e3;
}

.chart {
  display: block;
  margin: 0;
}

.tooltip {
  position: absolute;
  width: 175px;
  height: 90px;
  padding: 2px;
  padding-top: 8px;
  /* font: 12px sans-serif; */
  font: 14 px calibri;
  color: navy;
  font-weight: bolder;
  text-align: center;
  background: #dddddd;
  border: 0;
  border-radius: 10px;
}

.d3-tip {
  padding: 6px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
